
.headerBucket {
 padding:1rem;      
}

.headerDead {
background: #eb7f87;    
}

/*for anything in bovinequery class */
div.bovineQuery h2 {
    padding:2px;
    margin:0px;
    margin-bottom:10px;
    font-size:3.0em;
}

div.bovineQuery h3 {
    padding:2px;
    margin:2px;
    font-size:1.1em;
}

/* sets for lacation class */
.lactationCurve {
    position:relative;
    /* CSS3 dont' break up*/
    column-break-inside : avoid;
    -webkit-column-break-inside: avoid;
}

.familyTree {
    border-style: solid;
    border-width: 1px;
    position:relative;
    /*top:500px;
    left:580px;
    */
    width:300px;
    height:200px;
}

#potentialName {
   font-size:0.3em;  
   float: right;
}

#small {
    font-size:0.3em;
}

/* always uses classes for this type, never id. */
.smallish {
    font-size:0.7em;
}
span.smallish {
    font-size:0.7em;
    font-weight: bold;
}


/* ************* */


#medium {
    font-size:.5em;
}

/* used to offset the text from base line.*/
#medium_offset {
    font-size:.5em;
    vertical-align:33%; 
}

#location {
    position:relative;
    /*top:140px;
    left:580px;*/
}


div.lastBreedings {
    width:550px;
}



#container { float: left; background: #abc bottom center no-repeat; padding-bottom: 1px; }
#inner { float: left; overflow: hidden; }
#inner div { float: left; background: #fff; border: 1px solid #000; width: 30em; margin-right: 10px; margin-bottom: -1000px; padding-bottom: 1000px; }
#inner .col2 { background: #eee; margin-right: 0; }
.clear { clear: both; padding-top: 10px; }



.bovinePic {
    border-radius: 20%;
} 



#frmBovineQuery {
    position:relative;
    /*border:1px solid;
    border-color:#f0f;*/
    width:200px;
}

#container
{
    position:relative;
    border:1px solid;
    border-color:#f0f;
    height:100%;
}



#chooseAnimal p {
    font-size:1.5em;
    margin:0;
    padding:0;
    font-weight: bold;
}



 

.accordionNarrowBovineQuery {
    position:relative;
    margin:0;
    padding:0;
   
    overflow-x: hidden;
    z-index:1; 
}


.hidden {
display:block!important; /* bootstrap override */
    margin:0px;
    padding:0px;
    top:0px;
    left:0px;
}



/* pile of poor css to make delete quickform button be inline with no padding */

#genericEventDeleteButton .hidden {
    margin:0px;
    padding:0px;
}

#genericEventDeleteButton .element
{   
    margin:0px;
    padding:0px; 
}

#genericEventDeleteButton label.element {
    border:none;
    width:0px;
    height:0px;
}

#genericEventDeleteButton input {   
    margin:0px;
    padding:0px;  
}




/*
bovine query medical log 
*/

.label-custom- {
     background-color:#f56954  !important; /* default */
}
.label-custom-meds , .label-custom-hormone {
    background-color:#3c8dbc  !important;
}

.label-custom-temperature {
    background-color:  #ffff66 !important;
}

.label-custom-cull {
    background-color: #f56954  !important;
}

.label-custom-dehorn {
    background-color:  #cc6699  !important;
}

.label-custom-diagnosis {
    background-color: #D81B60  !important;
}

.label-custom-ketonetest {
    background-color:  #ff80d5 !important;
}

.label-custom-cmt {
    background-color:  #d8b5f5 !important;
}

.label-custom-magnet {
    background-color: #39CCCC  !important;
}

.label-custom-scheduledaction {
    background-color:  #d2d6de !important;
}

.label-custom-comment {
    background-color:  #007bff !important;
}

.label-custom-scheduledmeds , .label-custom-hormonescheduled {
    background-color: #3c8dbc   !important;
}

.label-custom-eartag {
    background-color: #ff471a !important;
}

.label-custom-action {
    background-color:  #d2d6de !important;
}

.label-custom-vetcheck {
    background-color: #ff851b  !important;
}

.label-custom-foot {
    background-color: #ffa64d !important;
}

.label-custom-vetComment {
    background-color: #66ccff !important;
}

.label-custom-pregCheck {
    background-color: #ff6699 !important;
}

.label-custom-lactationStart {
    background-color: #006666 !important;
}

/* repro fields */
  
 
 .label-custom-breedingsexed ,  .label-custom-breedingscheduled  , .label-custom-breeding {
    background-color: #D81B60  !important;
}
  
  
 .label-custom-embryoimplantscheduled , .label-custom-embryoimplant {
    background-color: #111111 !important;
}
 
.label-custom-calffemale  {
     background-color: #ff66ff !important; 
}

.label-custom-calfmale {
     background-color: #4d4dff !important; 
}

.label-custom-protocol  {
     background-color: #d2d6de !important; 
}


.label-custom-kamar , .label-custom-kamar-scheduled {
    background-color:  #39CCCC !important;
}

.label-custom-heat  {
    background-color:  #ff851b !important;
}

.label-custom-breedingban  {
    background-color:  #f5c842 !important;
}

.list {
    margin: .1rem;
    padding: 0;
}


.inlineSmallTable {
    display:inline;
    vertical-align: middle;
}

.inlineSmallTable td {
    border:1px solid;
    padding:.25rem;
}

          
                
 .timeline-itemCustom {
     display: inline-block;
 }
      
 .timeline-ContainerCustom {
     margin-bottom: 5px;
 } 