@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: local('Lilita One'), local('LilitaOne'), url(https://themes.googleusercontent.com/static/fonts/lilitaone/v1/4FUUC-PxqHfbmE-DcA6LXC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
