/* turns things off for printing */
.noprint { display: none;}

.quickform {display: none;}
/*
.minorCol {display:none;} // used for forms, to get rid of whole column 
*/
/*
.majorCol { width: 100%;}
*/