/* turns things off for printing */


.noprint { display: none;}


.logoutForm 
{
    display:none;
}

h1.loginNameBox 
{
    display:none;
}


#vert_menu_container 
{
    display:none;
}

#footer 
{
    display:none;
}

.footerOneLine 
{
    display:none;
}

.animalQueryQuickForm {
    display:none;  
}


.ui-tabs-nav {
  display:none;    
}


/* FIXME: should be a way to see currently selected tab heading */
.ui-tabs-selected {    
    display: inline;
}

.quickformtableless {
   display:none;      
}



#sideBarInfo {
  display:none;        
}

.iconSpacer {
   display:none; 
   width:0px;
   height:0px;
   border:0;
}

.headerRight {
  display:none;   
}
#searchBox {
    display:none;     
}

#bovine_query_quickforms {
    display:none;     
}

#tmrAllRecipeWarapper {
    font-size: 0.8rem;
}
/*#tmrIndivRecipeWarapper {
  page-break-after: always; 
  page-break-inside: avoid;
}
*/

#fieldQueryCloseFields{
    display: none;
}


  a[href]:after {
    content: none !important;
}

#leftSideFloatContainer {
    display:none;
}

.quickform {
   display:none; 
}

.main-footer {
     display:none; 
}